<div class="main-content">
<div class="container-fluid">
    <div class="page-header">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="ik ik-file-text bg-blue"></i>
                    <div class="d-inline">
                        <h5>Request Sample Detail</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        
        <div class="offset-2 col-lg-8 offset-2">
            <div class="card">
                <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">
                    
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    
                    <div >
                        <div class="card-body">
                            <div class="row">
                            <div class="col-md-3 col-6"> <strong>Full Name:</strong>
                            <br>
                            <p class="text-muted"><%= @sample.full_name %></p>
                        </div>
                                <div class="col-md-3 col-6"> <strong>Mobile Number:</strong>
                                    <br>
                                    <p class="text-muted"><%= @sample.mobile_no %></p>
                                </div>
                                <div class="col-md-3 col-6"> <strong>Email</strong>
                                    <br>
                                    <p class="text-muted"><%= @sample.email %></p>
                                </div>
                                <div class="col-md-3 col-6"> <strong>Business Name</strong>
                                    <br>
                                    <p class="text-muted"><%= @sample.business_name %></p>
                                </div>
                                <div class="col-md-3 col-6"> <strong>Address</strong>
                                    <br>
                                    <p class="text-muted"><%= @sample.address%></p>
                                </div>
                                
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>