<div class="nested-fields">
  <div class="form-group field">
    <label for="color">Color</label>
    <br>
    <%= f.color_field :code, class: '', placeholder: 'Item Color' %>
    </div>
  <div class='form-group field'>
  <label for="quantity">Quantity</label>
  <%= f.number_field :quantities, class: 'form-control', placeholder: 'Item Quantity' %>
    </div>
    <div class='form-group field'>
    <label for="availableDate">Avaiable Date</label>
    <br>
    <%= f.date_field :available_date, class: 'form-control', placeholder: 'Item Quantity' %>
      </div>
      <div class='form-group field'>
      <%= f.label :picture %>
      <label for="picture">Color Picture</label>
      <%= f.file_field :pictures, class: 'form-control',  multiple: true %>
        </div>
  <%= link_to_remove_association "Remove Color", f, class: 'btn btn-danger' %>
</div>
