<div class="main-content">
<div class="container-fluid">
    <div class="page-header">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="ik ik-file-text bg-blue"></i>
                    <div class="d-inline">
                        <h5>Item Detail</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        
        <div class="offset-2 col-lg-8 offset-2">
            <div class="card">
                <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">
                    
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    
                    <div >
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 col-6"> <strong>ITEM Number:</strong>
                                    <br>
                                    <p class="text-muted"><%= @item.number %></p>
                                </div>
                                <div class="col-md-3 col-6"> <strong>ITEM Name</strong>
                                    <br>
                                    <p class="text-muted"><%= @item.name %></p>
                                </div>
                                <div class="col-md-3 col-6"> <strong>ITEM Price</strong>
                                    <br>
                                    <p class="text-muted"><%= @item.price %></p>
                                </div>
                                <div class="col-md-3 col-6"> <strong>Active Item</strong>
                                    <br>
                                    <p class="text-muted"><%= @item.active_item%></p>
                                </div>
                                <div class="col-md-3 col-6"> <strong>Special Price Item</strong>
                                    <br>
                                    <p class="text-muted"><%= @item.special_price_item %></p>
                                </div>
                            </div>
                            <hr>
                            <div><strong>Picture:</strong>
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 mb-20"><%= image_tag @item.picture.url, class:"img-fluid rounded" if @item.picture.present? %></div>
                                    
                                </div>
                            </div>
                            <div><strong>Product Pictures:</strong>
                                <div class="row">
                                  <% if @item.product_pictures.present? %>
                                  <% @item.product_pictures.each do |picture| %>
                                    <div class="col-lg-3 col-md-6 mb-20"><%= image_tag picture.url, class:"img-fluid rounded" %></div>
                                   <% end %> 
                                   <% end %>
                                </div>
                            </div>
                            <h4 class="mt-30">ITEM Colors</h4>
                            <hr>
                            <% @item.colors.each do |color| %>
                            <h6 class="mt-30"><span class="pull-right">Color</span></h6>
                            <% if color.code.present?%>
                            <div class="" style="width: 100px; height: 100px; background: <%= color.code %>">
                                
                            </div>
                            <% end %>
                              <h6 class="mt-30"><span class="pull-right">Quantity</span></h6>
                              <div class="">
                                  <%= color.quantities %>
                              </div>
                              <h6 class="mt-30"><span class="pull-right">Avaliable date</span></h6>
                              <div class="">
                                  <%= color.available_date %>
                              </div>
                              <h6 class="mt-30"><span class="pull-right">Pictures</span></h6>
                              
                              <div class="row">
                                  <% if color && color&.pictures.present? %>
                                  <% color.pictures.each do |picture| %>
                                    <div class="col-lg-3 col-md-6 mb-20"><%= image_tag picture.url, class:"img-fluid rounded" %></div>
                                   <% end %> 
                                   <% end %>
                              
                              <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>